#gameboard {
    width: 630px;
    height: 630px;
    display: flex;
    flex-wrap: wrap;
}

.blocks {
    height: 70px;
    width: 70px;
}

.blocks svg {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.red {
    background-color: rgb(78, 65, 65);
}

.black {
    background-color: rgb(0, 0, 0);
}